<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Code}} page</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="container ">
        <div class="error">
            <h3 style="color: #ff4d4f;">Error {{.Code}}</h3>
        </div>
        <div class="content" style="align-items: center;">
            <h2>{{.Message}}</h2>
        </div>
    </div>
    
</body>
</html>